@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
        <h1>JZapp</h1>
        <p class="lead">JZApp brings the flexibility in finding jobs</p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Flexible</h2>
        <p>
         JZapp gives you the most flexible job searching platform.
        </p>

    </div>
    <div class="col-md-4">
        <h2>Reliable</h2>
        <p>We have te most reliable people providing and accepting jobs</p>

    </div>
    <div class="col-md-4">
        <h2>Easy-to-use</h2>
        <p>The sleek design makes this ver easy to use.</p>

    </div>
</div>